<div class="col-sm-8">
  <h2>Welcome to the Animal Adoption Center's volunteer site!</h2>
If you are a new volunteer, please sign up in order to have full access to the site.<br>
Otherwise, please sign in and sign up for some volunteer hours!.<br><br>
</div>
